{% include 'link_css.html' %}
{% include 'script.html' %}
{% load bootstrap %}
{% block content %}

<style type="text/css">
    body{background:#FFFFFF}
</style>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-10">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal" id="app_edit" method="post" role="form" >
                        {% csrf_token %}
                        {% if emg %}
                            <div class="alert alert-warning text-center">{{ emg }}</div>
                        {% endif %}
                        {% if smg %}
                            <div class="alert alert-success text-center">{{ smg }}</div>
                        {% endif %}
                        {{ af.name|bootstrap_horizontal }}
                        <div class="hr-line-dashed"></div>
                        {{ af.another_name|bootstrap_horizontal }}
                        <div class="hr-line-dashed"></div>
                        {{ af.domain_name|bootstrap_horizontal }}
                        <div class="hr-line-dashed"></div>
                        {{ af.online_time|bootstrap_horizontal }}
                        <div class="hr-line-dashed"></div>
                        {{ af.yunwei|bootstrap_horizontal }}
                        <div class="hr-line-dashed"></div>
                        {{ af.developer|bootstrap_horizontal }}
                        <div class="hr-line-dashed"></div>
                        {{ af.comment|bootstrap_horizontal }}
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                           <div class="col-sm-4 col-sm-offset-5">
                               <button class="btn btn-white" type="reset"> 重置 </button>
                               <button id="postButton" class="btn btn-primary" onclick="return false"> 提交 </button>
                           </div>
                       </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.btn-primary').click(function(){
            jQuery.ajax({
                url: $(this).attr('href'),                  // 提交的页面
                data: $('#app_edit').serialize(), // 从表单中获取数据
                type: "POST",                       // 设置请求类型为"POST"，默认为"GET"
                dataType:'text',
                success: function(msg){
                    if (msg == 200){
                        alert('修改成功!');
                        var index = parent.layer.getFrameIndex(window.name); //获取当前窗体索引
                        parent.layer.close(index); //执行关闭
                    } else {
                        alert(msg)
                    }
                },
                //error: function(request){
                //    alert('修改失败!请检查名称/端口是否存在.');
                //}
            });
        });
        $('.classifyEdit').on('click', function (event) {
            var height = $(window).height()
            layer.open({
                type: 2,
                shade: [0.5, '#000', true],
                shadeClose: true,
                maxmin: true,
                fix: true,
                moveOut: true,
                shift: 'top',
                border: [10, 0.3, '#000'],
                title: "修改分类信息",
                area: ['800px', (height - 50) + 'px'],
                //area : ['80%', (height - 50)+'px'],
                content: $(this).attr('href'),
                end: function () {
                    location.reload();
                }
            });
            event.preventDefault();
        });
    });

    var start={
        elem:"#id_online_time",
        format:"YYYY/MM/DD",
        min:"2000-06-16",
        max:"2099-06-16",
        istime:false,
        istoday:false,
        choose:function(datas){
            end.min=datas;
            end.start=datas
        }
    };
    laydate(start);
</script>

{% endblock content %}