{% include 'link_css.html' %}
{% include 'script.html' %}
{% block content %}
{% load bootstrap %}
<style>
.voilet_backgroup{background: #FFFFFF}
</style>
<div class="voilet_backgroup">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-10">
            <form class="form-horizontal" action="" id="cabinet_edit"  method="post" name="horizontal" role="form" autocomplete="off">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-2 control-label"> 所属机房 </label>
                    <div class="col-sm-8">
                        <li class="form-control" >{{ idc }} </li>
                    </div>
                </div>
                {{ cf|bootstrap_horizontal }}
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-5">
                        <button class="btn btn-white" type="reset"> 重置 </button>
                        <a href="/asset/cabinetDel/?uuid={{ cabinetID }}" class="btn btn-danger" onclick="return false"> 删除 </a>
                        <button class="btn btn-primary" onclick="return false"> 提交 </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('.btn-primary').click(function(){
            jQuery.ajax({
                url: $(this).attr('href'),                  // 提交的页面
                data: $('#cabinet_edit').serialize(), // 从表单中获取数据
                type: "POST",                       // 设置请求类型为"POST"，默认为"GET"
                dataType:'text',
                success: function(msg){
                    if (msg == 200){
                        alert('修改成功!');
                        var index = parent.layer.getFrameIndex(window.name); //获取当前窗体索引
                        parent.layer.close(index); //执行关闭
                    } else {
                        alert(msg)
                    }
                },  
                error: function(request){
                    alert('修改失败!')
                }
            });
        });
        $('.btn-danger').click(function(){
            var url = $(this).attr('href');
            $.getJSON(url, function(data){
                if (data == 200){
                    var index = parent.layer.getFrameIndex(window.name); //获取当前窗体索引
                    parent.layer.close(index); //执行关闭
                } else {
                    alert(data)
                }
            });
        });
    });
</script>
{% endblock content %}